doctype html
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
// <![endif]
head
  include includes/_head
// LOAD ANIMATE
//#main-load.main-load
  img(src='assets/img/loading/load.gif', alt='')
// MAIN CONTAINER START
.main-container
  // HEADER START
  include includes/_header
  // HEADER END
  // MAIN CONTENT START
  .main-content.container
    h2 CONTACT
    hr
  // MAIN CONTENT END
  // CONTACT CONTENT START
  include includes/_main-contact
  // CONTACT CONTENT END
  // FOOTER START
  include includes/_footer