// Footer
.footer.container
    footer
        .footer-content
            p 2016 © juniorcly.de <br>All rights reserved.</br>
        //.footer-social
                ul
                  li.main-animate
                    a(href='#')
                      i.fa.fa-facebook
                  li.main-animate
                    i.fa.fa-twitter
                  li.main-animate
                    i.fa.fa-google-plus
                  li.main-animate
                    i.fa.fa-linkedin
                  li.main-animate
                    i.fa.fa-dribbble
                  li.main-animate
                    i.fa.fa-envelope
      // FOOTER END
    // MAIN CONTAINER END
    // Javascript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(type='text/javascript', src='assets/js/masonry.pkgd.min.js')
    script(type='text/javascript', src='assets/js/porte-main.js')
