.main-contact
  .main-contact-content.container
    .main-contact-container.row
        form.main-contact(role='form', method='post', action="https://formspree.io/jrcly.de@yahoo.com")
            .col-md-6
              input(value='Name & Surname', name='name', onblur="if (this.value == '') {this.value = 'Name & Surname';}", onfocus="if (this.value == 'Name & Surname') {this.value = '';}")
            .col-md-6
              input(value='E-mail Address', name='email', onblur="if (this.value == '') {this.value = 'E-mail Address';}", onfocus="if (this.value == 'E-mail Address') {this.value = '';}")
            .col-md-12
              textarea(value='Message', name='message', onblur="if (this.value == '') {this.value = 'Message';}", onfocus="if (this.value == 'Message') {this.value = '';}") Message
            .col-md-6
              button SEND
                
