h3 Intro
p.blog-detail-info
  | Thanks for checking out my early but growing web development portfolio. I’m Clyde, and I am currently a freelance web developer from Tampa, Florida. I hold proficiencies in:
ul.blog-detail-info
  li html
  li css3
  li sass
  li jade
  li markdown
  li bootstrap 3
p.blog-detail-info
  | I have done some work in other content management systems but my true love is building static websites. I personally think static is where the industry is headed.
  br
  br
h3 A Place Called Home
p.blog-detail-info
  | I didn’t always have a passion web design & development though; It started with a love for music production and after I got my music degree, I had all these ideas in my head about wanting to have a home for my music on the web. I didn’t want the usual Youtube/Souncloud/Bancamp route; I wanted something way more personal and customized. Sure I could buy a domain, open a Wordpress account, by a fancy theme and call that my home. It wouldn’t be my home though, it would be like renting an apartment vs owning a home. Owning a home is the dream, not throwing money away in an apartment.
p.blog-detail-info
  | So I spent the next 2 years learning code so I could build internet homes. 
  b I’m basically a website realtor.
  | I am definitely not where I want to be, but everyday, I get just a little bit closer at saying,
  br
  br
blockquote.blog-detail-info
    | "This little place on the internet…this very space; I built it, with my own two hands, and it’s mine."
