doctype html
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
// <![endif]
include includes/_head
// LOAD ANIMATE
//#main-load.main-load
  img(src='assets/img/loading/load.gif', alt='')
// MAIN CONTAINER START
.main-container
  // HEADER START
  include includes/_header
  // HEADER END
  // MAIN CONTENT START
  //
    <div class="main-content container">
    <h2>WORKS</h2>
    <span>Minimal. Responsive. Well equipped.</span>
    <hr>
    </div>
  // MAIN CONTENT END
  // WORK CONTENT START
  include includes/_main-work-florida
  // WORK CONTENT END
  // FOOTER START
  include includes/_footer