h3 Embarking on a journey
p.blog-detail-info
  | 2 years ago, when I set out to learn Web Design, I learned because I wanted to make a website for a friend and I was dissatisfied with all the pre-made offerings on the internet. If I am going to design a website, I want to be able to customize every aspect of it, but I don’t to pay a premium to change colors, fonts, and layouts.
p.blog-detail-info
  | Browser-based website creation tools, known as WYSIWYG ediors, were born out of a need to give artists and businesses a taste of design without having the need to learn code.

h3 Burned Out
p.blog-detail-info
  | Here is the thing: Two years ago, before I learned to code, I didn’t realize that coding be an outlet for seemingly unlimited creativity. I spent 15+ years learning music and even got a degree in producing it, but I became burnt out. I had not yet learned to create products and produce assets that could in turn, be compesated for.
p.blog-detail-info
  | Sure, I had a music website and growing porfolio on Soundcloud, but those things were in a sense just trophies on a shelf. Guess what trophies on a shelf are best at?…collecting dust.
  br
  br
blockquote.blog-detail-info
    | Trophies are great centerpieces to show friends and family, but they aren’t serving anybody, they aren’t helping anyone and they most certainly not providing value.
h3 The True Value of Learning
p.blog-detail-info Learning to code did 3 things for me:

ol.blog-detail-info
  li It solved a probem
  li It produced value for potential clients
  li It built an asset that I could use to build other assets.
p.blog-detail-info
  | So let’s dive in with number one: Learning to code solved a problem. The very first thing you have to ask yourself when you want to try something new is ask, Does this thing solve a problem? If yes, go for it. If it doesn’t work out, you still gained knowledge and skills that you can use for the next pursuit. If it interests you, try it out, you can’t actually fail until you try. And even if you do fail, 
  strong effort does not go unrewared
  | . I’ll say it again…
  strong Effort
  |  does not go 
  strong unrewared
  | .
p.blog-detail-info
  | Don’t get me wrong, I love music more than my family and my friends, but I wanted to dive into my passion unhinged, unchained, and untethered from the strings that held me back.
ul.blog-detail-info
  li Strings of Liablities such as debt
  li Strings of working a day job that had me overworked and underpaid
  li Strings of a mindset that teared done every aspect of my life
p.blog-detail-info
  | The same drive and determination I used to learn and write music, I poured out into other creative endeavors. If you are creative in one thing, chances are you can take those same skills and talents and apply them in other areas.
  br 
  |To be continued...
