h3 Flavor of hate
p.blog-detail-info
  | I don't know if it's still around, but 
  a(href='http://emilyguglielmo.com', title='Emily Guglielmo') Emilyguglielmo.com
  |  started out as a 
  a(href='http://flavors.me', title='Flavors.me') flavors.me 
  | website. The purpose of flavors.me is to give artists and other creatives a simple splash page to showcase themselves and there work. 
  br
  br
  | Like Wix and other wysiwyg platforms, flavors.me is away to quickly get one's work on the web and establish some form of personal branding. As with all personal or business portfolio sites, you can either create a free subdomain, or use one that you purchased from a domain registrar such as Godaddy, Namcheap or Hover.
p.blog-detail-info
  | Flavors.me was actually recommended at my college because it was quick way to dump one's portfolio and all of their social media profiles into one page.
p.blog-detail-info
  | For a while it worked, but as time passed, it quickly became vey limiting in what I could do. I always had these little gripes about the fact that I couldn't customize it with good old-fashioned HTML & CSS. That was the deal breaker for me; 
  br
blockquote.blog-detail-info
  p It was the spark that made me want learn to code "for realsies".
p.blog-detail-info
  | Emilyguglielmo.com evolved into yet another splash page, but it is independent and autonomous. I think eventually I would like to port this website into a cms, but that's a different post for another day.
  hr