.header.container-fluid.main-animate
    header.container
      .header-logo
        a.p(href="index.html") juniorcly.de
      nav.header-menu
        i.fa.fa-bars.menu-item
        i.fa.fa-times.exit-item
      nav.header-menu-open
        ul
          li
            a.main-animate(href='index.html') HOME
          li
            a.main-animate(href='about.html') ABOUT
          li
            a.main-animate(href='blog.html') BLOG
          li
            a.main-animate(href='contact.html') CONTACT