//head
head
    title juniorcly.de
    meta(charset='UTF-8')
    meta(name='keywords', content='Web Design, Portfolio, Clyde, Callie, Bootstrap, HTML')
    meta(name='description', content='Portfolio')
    meta(name='author', content='H2O Theme')
    meta.viewport(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='assets/css/main.css')

    include mixins
