.main-works
  .main-works-list.container
    h2 My Works
    #main-works-container.main-works-container.row
      // WORK 1 START
      .col-md-4.col-sm-6.col-xs-12.col-sm-6.col-xs-12.work-item
        a(href='emilyguglielmo.html')
          .main-works-column
            .main-works-hover.main-animate
              .main-works-content
                h2 EMILYGUGLIELMO.COM
                p View details.
              .main-works-overlay
            img(src='assets/img/em.png', alt='')
      // WORK 1 END
      // WORK 2 START
      .col-md-4.col-sm-6.col-xs-12.work-item
        a(href='thefloridamermaid.html')
          .main-works-column
            .main-works-hover.main-animate
              .main-works-content
                h2 THE FLORIDA MERMAID
                p View details.
              .main-works-overlay
            img(src='assets/img/fl.png', alt='')
      // WORK 2 END
      // WORK 3 START
      .col-md-4.col-sm-6.col-xs-12.work-item
        a(href='savingsoulsfoundation.html')
          .main-works-column
            .main-works-hover.main-animate
              .main-works-content
                h2 SAVING SOULS FOUNDATION
                p View details.
              .main-works-overlay
            img(src='assets/img/ss.png', alt='')
      // WORK 3 END
      // WORK 4 START
      .col-md-4.col-sm-6.col-xs-12.work-item
        a(href='pf1.html')
          .main-works-column
            .main-works-hover.main-animate
              .main-works-content
                h2 PF1 REDESIGN
                p View details.
              .main-works-overlay
            img(src='assets/img/pf1.png', alt='')
