.main-work
    .main-work-content.container
      //p.work-hello THIS IS,
      h2 PF1 REDESIGN
      p.work-title HTML/CSS3/BOOTSTRAP 3 STATIC THEME
      a(href="http://pf1.getforge.io", target="_blank").main-works-button
        button View Site
      p.work-info
      
        
      .work-img
        img(src='assets/img/works-detail/PF1.png', alt='')
      .work-img
        img(src='assets/img/works-detail/PF2.png', alt='')
      //
        <div class="work-social">
        <p>SHARE THIS WORK</p>
        <ul>
        <li class="main-animate"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="main-animate"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="main-animate"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        </div>
        <hr>
      // ALL WORKS BUTTTON START
      // <div class="main-works-button"><button class="main-animate" id="all-works-button">ALL WORKS</button></div>
      // ALL WORKS BUTTTON END
