p.blog-detail-info
  a(href='http://thefloridamermaid.com') The Florida Mermaid 
  | website has been what I would call a drawn-out, but fruitful work of love. I must have redesigned this website about 3 times. Back when I made the first iteration of this site in 2012, I used Wix. I was a code baby and I had absolutely no idea what I was doing. Needless to say, it was a hot mess. The only thing liked about it was the layout and the color palette. It wasn’t even responsive, but Wix has “mobile” versions of its site that are usable, but they aren’t that pretty.
p.blog-detail-info
  | Fastfoward to 2014 and I already had about 6 months worth of coding under my belt(Courtesy of 
  a(href='http://teamtreehouse.org') teamtreehouse
  | ). I decided to take another stab at the mermaid site and used bootstrap to do it. I was so proud of myself, I buit this awesome responsive website “from the bottom” and I felt like coder of the year. Little did I know that my client wanted to change the website again a year later because it looked like a website for children. Ok, I’ll admit it…I went a little crazy-obsessive with the color palette, but
  br
  br
blockquote.blog-detail-info
  p
    | web design was so fun and new, I am might as well have been a child designing websites because when it came to coding, I really was just a kid.
.work-img
    img(src='assets/img/works-detail/FL6.png', alt='')

p.blog-detail-info
  | Presently, I have more of a professional mindset when it comes to code, but that kid slips in there though(have you the color/font choices from the portfolio you’re currently viewing,lol). It’s my partyfolio, er, I mean portfolio and I’ll cry if want to…(I probably will cry later though, I’m launching this thing to crickets).
p.blog-detail-info
  | Anyways, back to this post. I decided on a minimal-ish 1-page design. No, it’s not perfect, but it works, its semantic, and the client loved it. Oh, I and also got paid too, that’s always nice.
  br